<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid bg-info text-white" id="header">
        <div class="body-container">
            <div class="container">
                <p class="display-4">Todo 1.0</p>
                <p class="lead">Add your awesome Todos here!</p>
            </div>
        </div>
    </div>
    <div class="body-container">
        <form [formGroup]="form" (submit)="addTodo()">
            <div class="container text-muted">
                <div class="input-group input-group-lg">
                        <input type="text" class="form-control col-md-8" placeholder="Enter your pending task" formControlName="name">
                        <input type="date" class="form-control col-md-4" placeholder="Due date" formControlName="date">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" [disabled]="form.invalid">Add</button>
                        </div>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="input-group input-group-sm">
                <ul class="nav nav-pills col-md-7">
                    <li class="nav-item">
                      <a class="nav-link active" href="">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Personal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Work</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Shopping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Others</a>
                    </li>
                  </ul>                  
                <input type="text" class="form-control col-md-5" placeholder="Search" [(ngModel)]="term" name="filter">
            </div>
            <br>
            <div *ngFor="let todo of todos | filter: term" class="card">
                <div class="card-header">
                    {{ todo.name }} ~ {{ todo.date }}
                    <button class="btn btn-xs btn-primary" id="done-button" (click)="deleteTodo(todo._id)">X</button>
                </div>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>