.body-container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container, .container-fluid{
    margin: 50px auto;
}

#header{
    padding: 0px;
}

#done-button{
    float: right;
}

.card{
    margin-bottom: 5px;
}

a:hover{
    cursor: pointer;
}

.card-header{
    vertical-align: middle;
}
